* {
    margin: 0;
    padding: 0;
}

body, html, #root{
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* Main box that is used on every page to fill them out */
.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    width: 90vw;
    margin: auto;
    height: 90vh;
    background-color: rgba(241, 241, 241, 0.39);
    color: #000;
}

/* Base styling for every button used */
.btn {
    margin-left: 10px;
    height: auto;
    width: auto;
    color: #000000;
    background-color: #2ece43;
    border-radius: 8px;
    border: 1px solid #000000;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    cursor: pointer;
}
/* Styling for the text in every button */
.btn-sm {
    padding: 6px 10px;
    vertical-align: middle;
    font-size: small;
}
/* Styling for the base container of the whole application */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/* Flex type and padding for the main content class (another I think is not used)*/
.main-content {
  flex: 1;
  padding: 20px;
}
/* Aligning text to the end of the container (I believe it's not used)*/
.align-end{
  text-align: end;
}
/* Coloring for the success and error messages */
.success-message {
  color: green;
  font-weight: bold;
}

.error-message {
  color: red;
  font-weight: bold;
}
/* Header alignment*/
.header-title {
  text-align: center;
}

