.passwordReset {
  max-width: 60%;
  margin: 100px auto;
  padding: 50px;
  text-align: center;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  color: #000;
}

.passwordReset input {
  width: 40%;
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
}