.Profile {
  max-width: 80%;
  margin: 100px auto;
  padding: 50px;
  text-align: center;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  color: #000;
  margin-top: -250px;
}

.profile-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.information {
    text-align: left;
    margin: 0 auto; /* center horizontally */
    max-width: 300px; /* keep a reasonable width */
}

.row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
}

.row label{
    width: 100%;
    margin-bottom: 5px;
}

.row input{
    width: 100%;
    padding: 5px;
    border: 1px solid #000000;
    border-radius: 4px;
}

.Profile h1 {
    font-size: 36px;
}

.PassChange {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.PassChange .btn{
    font-size: 12px;
}

.avatar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.change-avatar-btn {
    margin-left: 15px;
}

