/* Footer.css background control*/
.footer{ 
    background-color: #000;
}
/* Footer.css text styling*/
.text-footer {
    text-align: center;
    padding: 10px 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display:flex;
    justify-content: center;
    color: #fff;
}