/* CSS variables */
:root {
    --start-button-width: 200px;
    --start-button-height: 8%;
    --select-difficulty-text-width: 100px;
    --difficulty-button-width: 20%;
    --difficulty-button-left: 25%;
    --difficulty-button-offset: 19%;
}
/* Controls the visual of the starting window button*/
#start-game-button {
    position: absolute;
    width: 200px;
    height: var(--start-button-height);
    left: calc(50% - calc(var(--start-button-width) / 2));
    top: calc(50% - calc(var(--start-button-height) / 2));
}
/* Controls the visual of the select difficulty text*/
#select-difficulty-text {
    position: relative;
    text-align: center;
    top: 65%;
}
/* Controls the visual of the difficulty buttons*/
.difficulty-button {
    position: relative;
    margin-top: 18%;
    width: 18%;
    background-color: lightgray;
    transition: background-color 0.25s;
}
/* positioning of all difficulty button */
#all-difficulty {
    margin-left: calc(10px - var(--difficulty-button-left));
}
/* positioning of easy difficulty button */
#easy-difficulty {
    margin-left: calc(10px - var(--difficulty-button-left) + var(--difficulty-button-offset));
}
/* positioning of medium difficulty button */
#medium-difficulty {
    margin-left: calc(10px - var(--difficulty-button-left) + calc(2 * var(--difficulty-button-offset)));
}
/* positioning of hard difficulty button */
#hard-difficulty {
    margin-left: calc(10px - var(--difficulty-button-left) + calc(3 * var(--difficulty-button-offset)));
}