/* CSS variables */
:root {
    --timer-diameter: 75px;
}

/* Timer background and area */
#timer-area {
    width: var(--timer-diameter);
    height: var(--timer-diameter);
    border-radius: calc(var(--timer-diameter) / 2);

    position: absolute;
    left: calc(50% - (var(--timer-diameter) / 2));
    top: 3%;

    background-color: rgb(61, 76, 99);
}

/* The timer countdown number itself */
#countdown {
    font-size: 29px;
    text-align: center;
    line-height: var(--timer-diameter);
    color: white;
}