* {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0, 20px;
    position: sticky;
    top: 0; 
}

.background {
    background: rgb(126, 125, 125);
    background-size: cover;
    background-blend-mode: darken;
}

.footer{
    background-color: #000;
}

.title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #000;
    cursor: pointer;
}

.nav-list { 
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 0;
}

.nav-list li {
    list-style: none;
    padding: 26px 30px;
}

.nav-list li a {
    text-decoration: none;
    font-weight: 500;
    color: #000;
}

.nav-list li a:hover {
    color: purple;
}

.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    max-width: 90%;
    margin: auto;
    height: 80%;
    background-color: rgba(128, 128, 128, 0.39);
}

.text-footer {
    text-align: center;
    padding: 10px 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display:flex;
    justify-content: center;
    color: #fff;
}

.box-main::after {
  content: '';
  display: block;
  height: 100vh; /* Simulates a full screen of content */
  background: repeating-linear-gradient(
    45deg,
    #e0e0e0,
    #e0e0e0 10px,
    #f8f8f8 10px,
    #f8f8f8 20px
  );
}

.btn {
    margin-left: 10px;
    height: 33px;
    width: 70px;
    color: #000000;
    background-color: #2ece43;
    cursor: pointer;
}

.btn-sm {
    padding: 6px 10px;
    vertical-align: middle;
}