* {
    margin: 0;
    padding: 0;
}


.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    max-width: 90%;
    margin: auto;
    height: 80%;
    background-color: rgba(128, 128, 128, 0.39);
}


.box-main::after {
  content: '';
  display: block;
  height: 100vh; /* Simulates a full screen of content */
  background: repeating-linear-gradient(
    45deg,
    #e0e0e0,
    #e0e0e0 10px,
    #f8f8f8 10px,
    #f8f8f8 20px
  );
}

.btn {
    margin-left: 10px;
    height: 33px;
    width: 70px;
    color: #000000;
    background-color: #2ece43;
    cursor: pointer;
}

.btn-sm {
    padding: 6px 10px;
    vertical-align: middle;
}