* {
    margin: 0;
    padding: 0;
}

body, html, #root{
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}


.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    max-width: 90%;
    margin: auto;
    height: 80%;
    background-color: rgba(128, 128, 128, 0.39);
}


.box-main::after {
  content: '';
  display: block;
  height: 100vh; /* Simulates a full screen of content */
  background: repeating-linear-gradient(
    45deg,
    #e0e0e0,
    #e0e0e0 10px,
    #f8f8f8 10px,
    #f8f8f8 20px
  );
}

.btn {
    margin-left: 10px;
    height: 33px;
    width: 70px;
    color: #000000;
    background-color: #2ece43;
    cursor: pointer;
}

.btn-sm {
    padding: 6px 10px;
    vertical-align: middle;
}


.sign-in-form {
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  text-align: center;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.sign-in-form input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding: 20px;
}